<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">
	
	<bean id = "obj1" 
		class = "com.hsbc.model.service.TestServiceImplV1">
	</bean>
	
	<bean id = "db1" class = "com.hsbc.model.beans.DBConfig">
		<property name="username" value = "admin"></property>
		<property name="password" value = "1234"></property>
		<property name="url" value = "jdbc:derby://mydb"></property>
	</bean>
	
	<!-- configuring the DAO -->
	<bean id = "dao" class = "com.hsbc.model.dao.EmployeeDaoImpl">
		<!-- spring calls setDbConfig(db1) -->
		<property name = "dbConfig" ref = "db1"></property>
	</bean>
	
</beans>
